/* for navbar */
.navbar{
    background-color: black;
    border: 1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navlist{
    list-style: none;
    margin-right: 2rem;
}
.navlist:first-child{
    margin-right: auto;
    margin-left: 2rem; 
    color: aqua;
}
